@import "tailwindcss";
body {
  @apply bg-slate-100 text-slate-950;
}
@layer utilities {
  /* Chrome, Safari, Opera, 최신 Edge */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  html {
    scrollbar-width: none;
  }

  /* IE, 구버전 Edge */
  html {
    -ms-overflow-style: none;
  }
}
